
lib/core/metadata.js
lib/core/MetadataBlog.js

# website/translated_docs
# website/i18n/*

# Ignored list

docker-compose.yml
Dockerfile
.dockerignore
.git/*
yarn.lock
website/node-modules/*
website/package.json
